{% extends "base.html" %}

{% load static compress%}

{% block title %}Player{% endblock title %}

{% block content %}

  <div class="row">
    <div class="col-md-6 offset-md-3">

      <br>
      <h1>Player</h1>
      <br>

      <div id='foobar'></div>

      <!-- COMMENTS ----------------------------------------------------------->
      <h3>Comments</h3>

      <div class="form-group mb-3">
        <ul class="list-group">
          {% for text_comment in text_comments %}

          <li class="list-group-item d-flex justify-content-between align-items-center">
            ({{ text_comment.timestampMilliseconds }} s) {{ text_comment.text }}
          </li>

          {% endfor %}
        </ul>
      </div>

      <div class="input-group input-group-lg mb-3">
        <button class="btn btn-outline-secondary recording-off" type="button" id="comment-record-voice">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-mic-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
            <path fill-rule="evenodd" d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
          </svg>
        </button>
        <input type="text" class="form-control" id="comment-create-text">
        <button class="btn btn-outline-primary" type="button" id="comment-create-text-submit">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-left-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          </svg>
        </button>
      </div>

      <!-- PLAYBACK ----------------------------------------------------------->
      <h3>Playback</h3>

      <div class="card text-dark bg-light mb-3" style="width: 100%;">
        <div class="card-header">Playback</div>
        <div class="card-body">
          <h5 class="card-title">
          {% if not is_over %}
            {{ stream_now_playing }}
          {% else %}
            <i>Nothing is playing...</i>
          {% endif %}
          </h5>

          <br>
          <div class="card-title progress">
            <div class="progress-bar" role="progressbar" style="width: {{ progress }}%"></div>
          </div>
          <br>

          <div class="card-title btn-group" role="group">
            <button class="btn btn-primary {% if stream_is_paused or is_over %}disabled{% endif %}" id="playback-pause" type="submit" {% if stream_is_paused or is_over %}disabled{% endif %}>Pause</button>
            <button class="btn btn-primary {% if stream_is_playing or is_over %}disabled{% endif %}" id="playback-play" type="submit" {% if stream_is_playing or is_over %}disabled{% endif %}>Play</button>
          </div>
          <br>
          <div class="card-title btn-group" role="group">
            <button class="btn btn-outline-primary {% if not stream_queue_history_exists %}disabled{% endif %}" id="playback-previous" type="submit" {% if not stream_queue_history_exists %}disabled{% endif %}>Previous Track</button>
            <button class="btn btn-outline-primary {% if stream_queue_is_empty %}disabled{% endif %}" id="playback-next" type="submit" {% if stream_queue_is_empty %}disabled{% endif %}>Next Track</button>
          </div>
          <br>
          <div class="card-title btn-group" role="group">
            <button class="btn btn-outline-secondary {% if not stream_is_playing or is_over %}disabled{% endif %}" id="playback-backward" type="submit" {% if not stream_is_playing or is_over %}disabled{% endif %}>Scan Backward</button>
            <button class="btn btn-outline-secondary {% if not stream_is_playing or is_over %}disabled{% endif %}" id="playback-forward" type="submit" {% if not stream_is_playing or is_over %}disabled{% endif %}>Scan Forward</button>
          </div>
        </div>
      </div>

      <!-- QUEUE -------------------------------------------------------------->
      <h3>Queue</h3>
      <div class="form-group mb-3">
        <ul class="list-group">
          {% for queue in queues %}

          <li class="list-group-item d-flex justify-content-between align-items-center">
            {% if queue.track %}
              {{ queue.track.name }}
            {% elif queue.collection %}
              {{ queue.collection.name }}
            {% endif %}
            <button type="button" class="btn btn-light delete-queue" data-uuid="{{ queue.uuid }}">
              <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            </button>
          </li>

          {% endfor %}
        </ul>
      </div>

      <!-- SEARCH ------------------------------------------------------------->
      <h3>Search</h3>

      <label class="col-sm-2 col-form-label">Query</label>
      <div class="input-group input-group-lg mb-3">
        <input type="text" class="form-control" id="search-query" aria-label="Sizing example input">
        <button class="btn btn-outline-primary" type="button" id="music-search-button">Submit</button>
      </div>

      <div class="form-group mb-3">
        {% for provider_slug, provider_name in PROVIDER_CHOICES %}
        <div class="form-check form-check-inline">
          <input id="{{ provider_slug }}-id" class="form-check-input" type="checkbox" name="{{ provider_slug }}">
          <label class="form-check-label" for="{{ provider_slug }}-id">{{ provider_name }}</label>
        </div>
        {% endfor %}
      </div>

      <div class="form-group mb-3">
        {% for format_slug, format_name in FORMAT_CHOICES %}
        <div class="form-check form-check-inline">
          <input id="{{ format_slug }}-id" class="form-check-input" type="checkbox" name="{{ format_slug }}">
          <label class="form-check-label" for="{{ format_slug }}-id">{{ format_name }}</label>
        </div>
        {% endfor %}
      </div>

      <div class="form-group mb-3">
        <table id="search-results" class="table table-bordered">
        </table>
      </div>

      <!-- UPLOAD ------------------------------------------------------------->
      <h3>Upload</h3>

      <div class="form-group mb-3">
        <label for="audio-file mb-3">Audio file</label>
        <input type="file" class="form-control" id="audio-file">
      </div>

      <div class="form-group mb-3">
        <label for="img-file">Image file</label>
        <input type="file" class="form-control" id="img-file">
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="track-name" placeholder="Track name">
        <label for="track-name">Track name</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="artist-name" placeholder="Artist name">
        <label for="artist-name">Artist name</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="album-name" placeholder="Album name">
        <label for="album-name">Album name</label>
      </div>

      <div class="form-group mb-3">
        <button class="btn btn-primary" type="submit" id="track-create-button">Upload</button>
      </div>

    </div>
  </div>

{% endblock content %}

{% block addedjavascript %}

  {% compress js %}
  <script src="{% static 'js/api.js' %}"></script>
  <script src="{% static 'js/voice_recorder.js' %}"></script>
  <script src="{% static 'js/player.js' %}"></script>
  {% endcompress %}

{% endblock addedjavascript %}
