{% extends "base.html" %}

{% load static compress%}

{% block title %}Player{% endblock title %}

{% block content %}

  <div class="row">
    <div class="col-md-6 offset-md-3">

      <br>
      <h1>Player</h1>
      <br>

      <!-- COMMENTS ----------------------------------------------------------->
      <h3>Comments</h3>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" id="record">Record</button>
        </div>
        <div class="custom-file">
          <input type="text" class="form-control" id="text" style="border-radius: 0px;">
        </div>

        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="button" id="text-comment-create-button">Submit</button>
        </div>
      </div>

      <!-- PLAYBACK ----------------------------------------------------------->
      <h3>Playback</h3>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Play</button>
        <button class="btn btn-primary disabled" type="submit" disabled>Pause</button>
      </div>
      <div class="form-group">
        <button class="btn btn-outline-primary" type="submit">Rewind Track</button>
        <button class="btn btn-outline-primary" type="submit">Skip Track</button>
      </div>
      <div class="form-group">
        <button class="btn btn-outline-secondary" type="submit">Scan Backward</button>
        <button class="btn btn-outline-secondary" type="submit">Scan Forward</button>
      </div>

      <!-- QUEUE -------------------------------------------------------------->
      <h3>Queue</h3>
      <div class="form-group">
        <ol>
          {% for queue in queues %}
            <li>
            {% if queue.track %}
              {{ queue.track.name }}
            {% elif queue.collection %}
              {{ queue.collection.name }}
            {% endif %}
            </li>
          {% endfor %}
        </ol>
      </div>

      <!-- SEARCH ------------------------------------------------------------->
      <h3>Search</h3>

      <div class="form-group">
        <label class="col-sm-2 col-form-label">Query</label>
        <div class="input-group col-sm-10" style="float: right;">
          <div class="custom-file">
            <input type="text" class="form-control fix-corners" id="search-query">
          </div>

          <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" id="music-search-button">Search</button>
          </div>
        </div>
      </div>

      <div class="form-group">
        {% for provider_slug, provider_name in PROVIDER_CHOICES %}
        <div class="form-check form-check-inline">
          <input id="{{ provider_slug }}-id" class="form-check-input" type="checkbox" name="{{ provider_slug }}">
          <label class="form-check-label" for="{{ provider_slug }}-id">{{ provider_name }}</label>
        </div>
        {% endfor %}
      </div>

      <div class="form-group">
        {% for format_slug, format_name in FORMAT_CHOICES %}
        <div class="form-check form-check-inline">
          <input id="{{ format_slug }}-id" class="form-check-input" type="checkbox" name="{{ format_slug }}">
          <label class="form-check-label" for="{{ format_slug }}-id">{{ format_name }}</label>
        </div>
        {% endfor %}
      </div>

      <div class="form-group">
        <table id="search-results" class="table">
        </table>
      </div>

    </div>
  </div>

{% endblock content %}

{% block addedjavascript %}

  {% compress js %}
  <script src="{% static 'js/player.js' %}"></script>
  {% endcompress %}

{% endblock addedjavascript %}
