{% extends "base.html" %}

{% block title %}Settings{% endblock title %}

{% block content %}


<div class="row">
  <div class="col-md-6 offset-md-3">

    <br>
    <h1>Settings</h1>
    <br>

    <h3>Spotify</h3>

    <div class="input-group mb-3">
      <div class="input-group-text">
        <input class="form-check-input" type="checkbox" disabled {% if spotify_is_already_authorized %}checked{% endif %}>
      </div>
      <a class="form-control" href="{{ spotify_authorization_url }}">Authorize Spotify</a>
    </div>

  </div>
</div>

{% endblock content %}
