{% load static i18n compress%}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Jukebox Radio{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Part jukebox. Part radio.">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons/favicon-32x32.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons/favicon-16x16.ico' %}">
    <link rel="manifest" href="{% static 'image/favicons/site.webmanifest' %}">

  </head>

  <body>

    <div class="container">

      {% if messages %}
      <p>Server messages</p>
      <ul>
          {% for message in messages %}

          <li>
            {{ message }}
          </li>

          {% endfor %}
      </ul>
      {% endif %}

      {% block content %}
      {% endblock content %}

    </div> <!-- /container -->
  </body>
</html>
